.TaskBar {
  display: grid;
  grid-template-columns: 65px auto auto;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  border-radius: 10px;
  width: 100%;
  background-color: #000;
}

.TaskBar__Note {
  overflow-x: hidden;
  margin-inline: 5px;
}
