@media only screen and (max-width: 384px) {
  .App-header {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (min-width: 384px) {
  .App-header {
    width: 384px;
  }
}

@media only screen and (min-width: 768px) {
  .App-header {
    width: 50vw;
  }
}

.App,
.App-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.App {
  background-color: #030d20;
}

.App-header {
  flex-direction: column;
  color: white;
  min-height: 100vh;
}
