.App,
.App-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.App {
  background-color: #030d20;
}

.App-header {
  flex-direction: column;
  color: white;
  min-height: 100vh;
  width: 50vw;
}
